@tailwind base;
@tailwind components;
@tailwind utilities;

@responsive {
  .fa-1x {
    font-size: 1em;
  }
  .fa-2x {
    font-size: 2em;
  }
  .icon-1x {
    @apply text-center;
    width: 20px;
    height: 20px;
  }
  .icon-2x {
    @apply text-center;
    width: 40px;
    height: 40px;
  }
}

article.post {
  @apply text-lg leading-relaxed;
}

article.post p,
article.post pre,
article.post h1,
article.post h2,
article.post h3,
article.post h4,
article.post h5,
article.post h6,
article.post img {
  @apply mb-8;
}

article.post h1 {
  @apply text-3xl;
}

article.post h2 {
  @apply text-2xl;
}

article.post h3 {
  @apply text-xl;
}

article.post h4 {
  @apply font-bold;
}

article.post pre {
  @apply overflow-auto;
}

article.post code {
  @apply px-2;
  background: #e5eff5;
  border-radius: 3px;
}

article.post a {
  @apply text-blue-600;
}

article.post a:hover {
  @apply underline;
}

article.post a:visited {
  @apply text-indigo-600;
}

article.post ol {
  @apply list-decimal pl-4;
}

article.post ul {
  @apply list-disc pl-4;
}

article.post li {
  @apply mb-4;
}
